/* Header styles */
.header {
    display:flex;
    justify-content: center;
    border-radius: 0px 0px 25px 25px;
    border: 1px rgb(170, 137, 45);
    background: linear-gradient(rgb(138, 94, 13),rgb(212, 141, 7));
    font-size: 20px;
    text-align:center
}

/* Body styles */
.body {
    font-size:20px;
    margin:50px;
    padding:40px;
}
 /* Navbar */
.navbar {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 25px;
}
/* Footer styles */
.footer {
    display:flex;
    justify-content:end;
    position:relative;
    bottom: 0;
    border-radius: 25px 25px 0 0;
    border: 10px rgb(170, 137, 45);
    background: linear-gradient(rgb(138, 94, 13),rgb(212, 141, 7));
    font-size: 20px;
    text-align:center;
}
/* Table */
table {
    border: 3px solid black;
}

th {
    background-color: #0089FF;
    border: 2px solid black;
}

td {
    padding: 10px;
    border-color:black;
    text-align: center;
    border: 2px solid black;
    background: linear-gradient(rgb(126, 95, 39),orange);
}

/* Background Image */
body {
    background-image: url('images/Mugblur.png');
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
#abbg {
    border-radius: 25px 25px 25px 25px;
    border: 2px rgb(165, 121, 38);
    background:  radial-gradient(rgb(221, 163, 97),rgb(150, 103, 17),orange);
} 
/* Flex Box */
.container {
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
}

.item-1 {
    flex: .75;
    
}

.item-2 {
    flex: 1;
}

#gospeltext {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    border-radius:25px 25px 25px 25px;
    border: 1px solid rgb(155, 111, 53);
    background: linear-gradient(brown,orange);
    align-content: flex-start;
}

.maintext {
    font-weight: 900;
    font-size: 30px;
}

#dalaran {
    border: 20px linear-gradient(rgb(85, 61, 16),orange);
    justify-content: center;
    padding: 30px;
}

#mugpriest {
    justify-content: center;
}

#selfassess {
    border: 2px orange;
    border-radius: 20px 30px 20px 30px;
    background: linear-gradient(brown, orange);
}

.questions {
    font-weight: bold;
    font-size: 20pt;
}

#confirmation {
    font-size: 18pt;
}

/* Pseudo Clases */
#termsandcond:hover {
    color:blueviolet;
}

#termsandcond:active {
    border: 2px solid blueviolet;
}

input:focus {
    border: 3px solid rgb(255, 0, 0);
}

/* Mock Video */
.fakevideo {
    display: flex;
    flex-direction:column;
    position: relative;
    left: 25%;
    right: 25%;
}

#mockborder {
    height: 700px;
    width: 1000px;
    border: 6px solid rgb(30, 30, 30);
    background-image: url(images/airplane.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    margin-top:30px;
}

#progressbar {
    height: 7px;
    width: 1000px;
    border: 6px solid rgb(30, 30, 30);
    background: linear-gradient(90deg, red,grey);
}

#mediaplayer {
    height:70px;
    width:1000px;
    border: 6px solid rgb(30, 30, 30);
    background-color: rgb(30, 30, 30);
    margin-bottom: 50px;
}

#circle {
    position: relative;
    top: 40%;
    left: 47%;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: grey;
}

#triangle {
    position:relative;
    top:25%;
    left: 40%;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid rgb(0, 0, 0);
}