/* Header styles */
.header {
    font-size: 20px;
    text-align:center
}

/* Body styles */
.body {
    font-size:20px;
    margin:40px;
    padding:20px;
}
/* Footer styles */
.footer {
    display: flex;
    font-size:20px;
    flex-direction: column;
    justify-content: flex-end;
}
/* Table */
table {
    border: 3px solid black;
}

th {
    background-color: #0089FF;
    border: 2px solid black;
}

td {
    padding: 10px;
    border-color:black;
    text-align: center;
    border: 2px solid black;
}

/* Background Image */
body {
    background-image: url('images/Mugblur.png');
}
/* Flex Box */
.container {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: flex-start;
}

.item-1 {
    flex: .75;
    
}

.item-2 {
    flex: 1;
}